@import '~antd/dist/antd.css';

hr {
    height: 2px;
    background: #460e2e;
}
#score {
    font-size: 2em;
    font-weight: bold;
}

#play {
    margin-top: 30px;
    text-align: center;
    animation: anim 2s infinite;
}

@keyframes anim {
    0% {
        transform: translate(0px, 0px);
    }
    50% {
        transform: translate(0px, -10px);
    }
    100% {
        transform: translate(0px, 0px);
    }
}

#overview {
    background: rgba(195, 137, 255, 0.26);
    padding: 15px;
    border-radius: 15px;
}

#post {
    border-radius: 15px;
}