@import '~antd/dist/antd.css';

#description {
    font-style: italic;
    font-weight: bold;
}

.movieCard:hover {
    transform: scale(1.05);
}

@keyframes anim {
    0% {
        transform: translate(0px, 0px);
    }
    50% {
        transform: translate(0px, -10px);
    }
    100% {
        transform: translate(0px, 0px);
    }
}