@import '~antd/dist/antd.css';

#logo{
    padding-top: 10px;
    align-items: center;
    display: flex;
}

a:link,a:visited{
    text-decoration:none;
}

#logo img{
    width: 60px;
    height: 60px;
}

#title {
    text-align: center;
}