@import '~antd/dist/antd.css';

#logo {
    padding-top: 10px;
    align-items: center;
    display: flex;
}

a:link, a:visited {
    text-decoration: none;
}

#logo img {
    height: 60px;
    width: 60px;
}

#logo span {
    font-size: 36px;
    font-weight: bold;
    padding-left: 10px;
    font-family: Fantasy;
}

#title {
    text-align: center;
}

.user {
    margin-top: 20px;
}

.login-form {
    max-width: 100%;
}

.login-form-button {
    width: 100%;
}

#logo:hover {
    animation: shake 0.82s cubic-bezier(.36, .07, .19, .97) both;
    -webkit-animation: shake 0.82s cubic-bezier(.36, .07, .19, .97) both;

    transform: translate3d(0, 0, 0);

    backface-visibility: hidden;

    perspective: 1000px;
}

@keyframes shake {

    10%, 90% {

        transform: translate3d(-1px, 0, 0);

    }

    20%, 80% {

        transform: translate3d(2px, 0, 0);

    }

    30%, 50%, 70% {

        transform: translate3d(-4px, 0, 0);

    }

    40%, 60% {

        transform: translate3d(4px, 0, 0);

    }
}