@import '~antd/dist/antd.css';

#description {
    font-style: italic;
    font-weight: bold;
}

.movieCard img {
    border-radius: 3px;
}

.movieCard:hover {
    transform: scale(1.05);
}

#figure {
    margin: 0;
    position: relative;
    border-radius: 7px;
    width: 100%;
    height: 350px;
    box-shadow: 3px 3px 3px #888888;
}

#figure img {
    width: 100%;
    height: 100%;
    display: block;
    position: relative;
}

#figcaption {
    position: absolute;
    top: 0;
    left: 0;
    padding: 20px;
    background: #2c3f52;
    /*color: #ed4e6e;*/
}

#figcaption h3 {
    margin: 0;
    padding: 0;
    color: #eeeeee;
}

#figcaption span:before {
    content: '评分';
}

#figure {
    overflow: hidden;
}

#figure img {
    -webkit-transition: -webkit-transform 0.4s;
    -moz-transition: -moz-transform 0.4s;
    transition: transform 0.4s;
}

#figure:hover img,
#figure.cs-hover img {
    -webkit-transform: translateY(-50px);
    -moz-transform: translateY(-50px);
    -ms-transform: translateY(-50px);
    transform: translateY(-50px);
}

#figcaption {
    height: 100px;
    width: 100%;
    top: auto;
    bottom: 0;
    opacity: 0;
    -webkit-transform: translateY(100%);
    -moz-transform: translateY(100%);
    -ms-transform: translateY(100%);
    transform: translateY(100%);
    -webkit-transition: -webkit-transform 0.4s, opacity 0.1s 0.3s;
    -moz-transition: -moz-transform 0.4s, opacity 0.1s 0.3s;
    transition: transform 0.4s, opacity 0.1s 0.3s;
}

#figure:hover #figcaption,
#figure.cs-hover #figcaption {
    opacity: 1;
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -ms-transform: translateY(0px);
    transform: translateY(0px);
    -webkit-transition: -webkit-transform 0.4s, opacity 0.1s;
    -moz-transition: -moz-transform 0.4s, opacity 0.1s;
    transition: transform 0.4s, opacity 0.1s;
}

#figcaption a {
    position: absolute;
    bottom: 20px;
    right: 20px;
}